In [ ]:
# Encapsulation  # Private/Mangling members,variable, method

# Protected members

class A:
    def __init__(self, a):
        self.a = a 
    def _printA(self):
        print(self.a)

class B(A):
    def __init__(self, a):
        super().__init__(a)
    def printA(self):
        super()._printA()

b = B(1)
b.printA()
b._printA() # Not recomended in the production as protected memeber can't be accessed outside the class except subclass

1
1

In [28]:
# Private members

class A:
    def __init__(self):
        pass

    def test(self, b):
        self.b = b

    def setter(self, a):  # Setter to set the value
        self.__a = a

    def getter(self): # Getter to get the value
        print("This is private var a:", self.__a)


a = A()
a.setter(10)
a.getter()
a.test(20)

print("This is public var b:", a.b)
# a.__a  # Will give error on direct call as it is private

This is private var a: 10
This is public var b: 20

In [30]:
for _ in range(1, 5):
    print(_)

1
2
3
4

In [31]:
for _ in range(1, 5):
    print('Hi')

Hi
Hi
Hi
Hi

In [34]:
a, _, c = 10, 20, 30
print(a, c)
print(a, _, c)

10 30
10 20 30

In [41]:
from abc import ABC, abstractmethod

class Bank(ABC):
    @abstractmethod  # Abstract Method
    def rate(self):
        pass

class SBI(Bank):
    def rate(self, a):
        print(f"The interest is {a}%")

bank1 = SBI()
bank1.rate(7)

# bank1 = Bank()  # Can't instantiate abstract class Bank without an implementation for abstract method 'rate'

The interest is 7%

In [83]:
from abc import ABC, abstractmethod

class BankAccount(ABC):
    def __init__(self, cus_name, dob):
        self.cus_name = cus_name
        self.dob = dob

    @abstractmethod
    def deposit(self, amount):
        pass
    @abstractmethod
    def withdraw(self, amount):
        pass

class SavingAccount(BankAccount):
    def __init__(self, cus_name, dob, min_bal):
        super().__init__(cus_name, dob)
        self.min_bal = min_bal

    def deposit(self, amount):
        self.min_bal += amount

    def withdraw(self, amount):
        if amount > self.min_bal:
            print("Insufficient Balance!")
        else:
            self.min_bal -= amount
            print("Money withdraw successful using savings account!")
    def bal_amount(self):
        print("Current balance:", self.min_bal)

class CurrentAccount(BankAccount):
    od_limit = 5000
    def __init__(self, cus_name, dob, bal):
        super().__init__(cus_name, dob)
        self.bal = bal - self.od_limit

    def deposit(self, amount):
        self.bal += amount

    def withdraw(self, amount):
        if amount > self.bal + self.od_limit:
            print("Insufficient Balance!")
        else:
            self.bal -= amount
            print("Money withdraw successful using current account!")

        

    def bal_amount(self):
        if self.bal < 0:
            print(f"{self.bal * -1} need to pe pay") 
        else: 
            print("Current balance:", self.bal)


s = SavingAccount('Jenny', '2000', 1000)
s.deposit(1000)
s.bal_amount()
s.withdraw(500)
s.bal_amount()

c = CurrentAccount('Sam', '2001', 100)
c.withdraw(5000)
c.bal_amount()
c.deposit(1000)
c.bal_amount()
c.withdraw(2100)
c.bal_amount()

c.deposit(10000)
c.bal_amount()

Current balance: 2000
Money withdraw successful using savings account!
Current balance: 1500
Insufficient Balance!
4900 need to pe pay
3900 need to pe pay
Insufficient Balance!
3900 need to pe pay
Current balance: 6100

In [85]:
import pandas as pd

df = pd.read_csv(r'WineQT.csv')

In [86]:
df['quality_label'] = df['quality'].map({
    3: 'Very Bad',
    4: 'Bad',
    5: 'Nice',
    6: 'Good',
    7: 'Very Good',
    8: 'Excellant'
})

In [87]:
df.head(3)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id,quality_label
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0,Nice
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1,Nice
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,2,Nice

In [ ]:
df['quality_label1'] = df['quality'].map({  # In map if we don't pass argument it will assign other as NAN
    5 : 'Considerable',
    6 : 'Nice'
})

In [ ]:
df['quality_replace'] = df['quality_label'].replace({ # In map if we don't pass argument it will assign other as previous value
    'Nice' : 'Considerable',
    'Good' : 'Nice'
})

In [101]:
df.sample(3)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id,quality_label,quality_label1,quality_replace
44,7.0,0.735,0.05,2.0,0.081,13.0,54.0,0.99660,3.39,0.57,9.8,5,63,Nice,Considerable,Considerable
811,8.2,0.200,0.43,2.5,0.076,31.0,51.0,0.99672,3.53,0.81,10.4,6,1145,Good,Nice,Nice
673,10.2,0.340,0.48,2.1,0.052,5.0,9.0,0.99458,3.20,0.69,12.1,7,953,Very Good,NaN,Very Good

In [104]:
df.rename(columns={'quality_label1': 'quality_review'}).head(3)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id,quality_label,quality_review,quality_replace
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0,Nice,Considerable,Considerable
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1,Nice,Considerable,Considerable
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,2,Nice,Considerable,Considerable

In [144]:
df = pd.read_csv(r'wine_data.csv')

In [145]:
df.head(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id,name,date
0,8.50,0.28,0.56,1.8,0.092,35.0,103.0,0.99690,3.30,0.75,10.50,7,16,WineA,2023-01-10
1,8.00,0.59,0.16,1.8,0.065,3.0,16.0,0.99620,3.42,0.92,10.50,7,128,WineB,2023-02-15
2,9.60,0.32,0.47,1.4,0.056,9.0,24.0,0.99695,3.22,0.82,10.30,7,200,WineC,2023-03-20
3,12.80,0.30,0.74,2.6,0.095,9.0,28.0,0.99940,3.20,0.77,10.80,7,205,WineD,2023-04-25
4,9.91,0.45,0.49,2.8,0.053,21.9,60.5,0.99683,3.31,0.90,8.88,4,5,Weingut Syrah Reserve 575,2023-02-12

In [146]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         220 non-null    float64
 1   volatile acidity      220 non-null    float64
 2   citric acid           220 non-null    float64
 3   residual sugar        220 non-null    float64
 4   chlorides             220 non-null    float64
 5   free sulfur dioxide   220 non-null    float64
 6   total sulfur dioxide  220 non-null    float64
 7   density               220 non-null    float64
 8   pH                    220 non-null    float64
 9   sulphates             220 non-null    float64
 10  alcohol               220 non-null    float64
 11  quality               220 non-null    int64
 12  Id                    220 non-null    int64
 13  name                  220 non-null    str
 14  date                  220 non-null    str
dtypes: float64(11), int64(2), str(2)
memory usage: 25.9 KB

In [147]:
df.name

0                                WineA
1                                WineB
2                                WineC
3                                WineD
4            Weingut Syrah Reserve 575
                    ...
215           Bodega Pinot Classic 513
216       Castello Merlot Grand Cru 41
217    Bodega Chardonnay Grand Cru 257
218       Chateau Cabernet Special 857
219       Bodega Sauvignon Classic 591
Name: name, Length: 220, dtype: str

In [148]:
df.name.str

In [149]:
df.name.str.upper()

0                                WINEA
1                                WINEB
2                                WINEC
3                                WINED
4            WEINGUT SYRAH RESERVE 575
                    ...
215           BODEGA PINOT CLASSIC 513
216       CASTELLO MERLOT GRAND CRU 41
217    BODEGA CHARDONNAY GRAND CRU 257
218       CHATEAU CABERNET SPECIAL 857
219       BODEGA SAUVIGNON CLASSIC 591
Name: name, Length: 220, dtype: str

In [150]:
df.name.str.title()

0                                Winea
1                                Wineb
2                                Winec
3                                Wined
4            Weingut Syrah Reserve 575
                    ...
215           Bodega Pinot Classic 513
216       Castello Merlot Grand Cru 41
217    Bodega Chardonnay Grand Cru 257
218       Chateau Cabernet Special 857
219       Bodega Sauvignon Classic 591
Name: name, Length: 220, dtype: str

In [151]:
df.name.str.len()

0       5
1       5
2       5
3       5
4      25
       ..
215    24
216    28
217    31
218    28
219    28
Name: name, Length: 220, dtype: int64

In [152]:
df[df.name.str.contains('A')]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id,name,date
0,8.5,0.28,0.56,1.8,0.092,35.0,103.0,0.9969,3.3,0.75,10.5,7,16,WineA,2023-01-10

In [153]:
df.date.dtype

In [154]:
df['date'] = pd.to_datetime(df.date)

In [155]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         220 non-null    float64
 1   volatile acidity      220 non-null    float64
 2   citric acid           220 non-null    float64
 3   residual sugar        220 non-null    float64
 4   chlorides             220 non-null    float64
 5   free sulfur dioxide   220 non-null    float64
 6   total sulfur dioxide  220 non-null    float64
 7   density               220 non-null    float64
 8   pH                    220 non-null    float64
 9   sulphates             220 non-null    float64
 10  alcohol               220 non-null    float64
 11  quality               220 non-null    int64
 12  Id                    220 non-null    int64
 13  name                  220 non-null    str
 14  date                  220 non-null    datetime64[us]
dtypes: datetime64[us](1), float64(11), int64(2), str(1)
memory usage: 25.9 KB

In [156]:
df['year'] = df.date.dt.year
df['month'] = df.date.dt.month
df['day'] = df.date.dt.day

In [157]:
df.head(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id,name,date,year,month,day
0,8.50,0.28,0.56,1.8,0.092,35.0,103.0,0.99690,3.30,0.75,10.50,7,16,WineA,2023-01-10,2023,1,10
1,8.00,0.59,0.16,1.8,0.065,3.0,16.0,0.99620,3.42,0.92,10.50,7,128,WineB,2023-02-15,2023,2,15
2,9.60,0.32,0.47,1.4,0.056,9.0,24.0,0.99695,3.22,0.82,10.30,7,200,WineC,2023-03-20,2023,3,20
3,12.80,0.30,0.74,2.6,0.095,9.0,28.0,0.99940,3.20,0.77,10.80,7,205,WineD,2023-04-25,2023,4,25
4,9.91,0.45,0.49,2.8,0.053,21.9,60.5,0.99683,3.31,0.90,8.88,4,5,Weingut Syrah Reserve 575,2023-02-12,2023,2,12

In [158]:
df.loc[len(df)] = [8.50, 0.28, 0.56, 1.8, 0.092, 35.0, 103.0, 0.99690, 3.30, 0.75, 10.50, 7, 16, 'WineA', '2023-01-10', 2023, 1, 10]

In [162]:
df.tail(3)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id,name,date,year,month,day
218,9.21,0.36,0.51,2.6,0.082,10.3,19.6,0.99854,3.20,0.70,11.09,6,219,Chateau Cabernet Special 857,2022-02-12 00:00:00,2022,2,12
219,10.02,0.21,0.47,1.8,0.050,17.2,33.5,0.99676,3.04,0.70,11.37,7,220,Bodega Sauvignon Classic 591,2022-03-24 00:00:00,2022,3,24
220,8.50,0.28,0.56,1.8,0.092,35.0,103.0,0.99690,3.30,0.75,10.50,7,16,WineA,2023-01-10,2023,1,10

In [ ]:
df.drop(index = [1, 2, 3], inplace = True)
df.head(3)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id,name,date,year,month,day
0,8.50,0.28,0.56,1.8,0.092,35.0,103.0,0.99690,3.30,0.75,10.50,7,16,WineA,2023-01-10 00:00:00,2023,1,10
4,9.91,0.45,0.49,2.8,0.053,21.9,60.5,0.99683,3.31,0.90,8.88,4,5,Weingut Syrah Reserve 575,2023-02-12 00:00:00,2023,2,12
5,8.72,0.56,0.34,0.8,0.059,22.3,59.8,0.99571,3.35,0.79,9.79,4,6,Bodega Riesling Special 559,2024-05-09 00:00:00,2024,5,9

In [166]:
df.drop(columns = 'pH', inplace = True)
df.head(3)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,sulphates,alcohol,quality,Id,name,date,year,month,day
0,8.50,0.28,0.56,1.8,0.092,35.0,103.0,0.99690,0.75,10.50,7,16,WineA,2023-01-10 00:00:00,2023,1,10
4,9.91,0.45,0.49,2.8,0.053,21.9,60.5,0.99683,0.90,8.88,4,5,Weingut Syrah Reserve 575,2023-02-12 00:00:00,2023,2,12
5,8.72,0.56,0.34,0.8,0.059,22.3,59.8,0.99571,0.79,9.79,4,6,Bodega Riesling Special 559,2024-05-09 00:00:00,2024,5,9

In [168]:
df['Wine Type'] = 'red wine'
df.head(3)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,sulphates,alcohol,quality,Id,name,date,year,month,day,Wine Type
0,8.50,0.28,0.56,1.8,0.092,35.0,103.0,0.99690,0.75,10.50,7,16,WineA,2023-01-10 00:00:00,2023,1,10,red wine
4,9.91,0.45,0.49,2.8,0.053,21.9,60.5,0.99683,0.90,8.88,4,5,Weingut Syrah Reserve 575,2023-02-12 00:00:00,2023,2,12,red wine
5,8.72,0.56,0.34,0.8,0.059,22.3,59.8,0.99571,0.79,9.79,4,6,Bodega Riesling Special 559,2024-05-09 00:00:00,2024,5,9,red wine

In [169]:
df['high alcohol'] = df.alcohol > 10

In [170]:
df.head(3)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,sulphates,alcohol,quality,Id,name,date,year,month,day,Wine Type,high alcohol
0,8.50,0.28,0.56,1.8,0.092,35.0,103.0,0.99690,0.75,10.50,7,16,WineA,2023-01-10 00:00:00,2023,1,10,red wine,True
4,9.91,0.45,0.49,2.8,0.053,21.9,60.5,0.99683,0.90,8.88,4,5,Weingut Syrah Reserve 575,2023-02-12 00:00:00,2023,2,12,red wine,False
5,8.72,0.56,0.34,0.8,0.059,22.3,59.8,0.99571,0.79,9.79,4,6,Bodega Riesling Special 559,2024-05-09 00:00:00,2024,5,9,red wine,False

In [ ]:
#  Concatination

d1 = {
    'Name': ['A', 'B', 'C'],
    'Age': [23, 45, 67],
    'Salary': ['25k', '23k', '24k']
}

d2 = {
    'Name': ['A', 'B', 'C'],
    'Age': [23, 42, 68],
    'Salary': ['25k', '37k', '31k']
}


d1 = pd.DataFrame(d1)
d2 = pd.DataFrame(d2)

pd.concat([d1, d2])

  Name  Age Salary
0    A   23    25k
1    B   45    23k
2    C   67    24k
0    A   23    25k
1    B   42    37k
2    C   68    31k

In [175]:
n_d = pd.concat([d1, d2], ignore_index=True)

In [174]:
pd.concat([d1, d2], ignore_index=True, axis=1)

   0   1    2  3   4    5
0  A  23  25k  A  23  25k
1  B  45  23k  B  42  37k
2  C  67  24k  C  68  31k

In [176]:
n_d.drop_duplicates(inplace=True)

In [177]:
n_d

  Name  Age Salary
0    A   23    25k
1    B   45    23k
2    C   67    24k
4    B   42    37k
5    C   68    31k

In [178]:
# Merging
pd.merge(d1, d2)

  Name  Age Salary
0    A   23    25k

In [181]:
pd.merge(d1, d2, on='Age', how='outer')

  Name_x  Age Salary_x Name_y Salary_y
0      A   23      25k      A      25k
1    NaN   42      NaN      B      37k
2      B   45      23k    NaN      NaN
3      C   67      24k    NaN      NaN
4    NaN   68      NaN      C      31k

In [ ]:
import numpy as np