In [1]:
# OOPs concept

class Animal:
    def __init__(self, name):
        self.name = name
        print("Parent (Animal) constructor called.")

class Dog(Animal):
    def __init__(self, name, breed):
        # Chain to the parent class constructor
        super().__init__(name)
        self.breed = breed
        print("Child (Dog) constructor called.")

my_dog = Dog("Buddy", "Golden Retriever")
# Output:
# Parent (Animal) constructor called.
# Child (Dog) constructor called.

Parent (Animal) constructor called.
Child (Dog) constructor called.

In [7]:
class Ten:
    def __init__(self, name, roll, marks):
        self.name = name
        self.roll = roll
        self.marks = marks

    def display(self):
        print(self.name, self.roll, self.marks)

class Twelve(Ten):
    def __init__(self, name, roll, marks, twelve_marks, stream): 
        super().__init__(name, roll, marks)   # Constructor Chaining
        self.twelve_marks = twelve_marks
        self.stream = stream
    def display(self):
        super().display()
        print(self.twelve_marks, self.stream)

t1 = Ten('Rohan', 123, 92)
t1.display()

t2 = Twelve('Rohan', 456, 92, 95, 'Science')
t2.display()

t3 = Ten('abc', 789, 89).display()  # Method Chaining

Rohan 123 92
Rohan 456 92
95 Science
abc 789 89

In [8]:
class Bachelor(Twelve):
    def __init__(self, name, roll, marks, twelve_marks, stream, branch, cgpa):
        super().__init__(name, roll, marks, twelve_marks, stream)
        self.branch = branch
        self.cgpa = cgpa
    def display(self):
        super().display()
        print(self.branch, self.cgpa)

b1 = Bachelor('xyz', 000, 96, 94, 'PCMB', 'CSE', 9.3)
b1.display()

xyz 0 96
94 PCMB
CSE 9.3

In [9]:
# Method Resolution Order

Bachelor.mro()

[__main__.Bachelor, __main__.Twelve, __main__.Ten, object]

In [14]:
class A:
    a = 'animal'
class B:
    a = 'aman'
class C(A, B):
    pass

c = C()
c.a

'animal'

In [18]:
class A:
    a = 10
    b = 20
    def __init__(self, c):
        self.c = c
class B(A):
    a = 1000
    @classmethod
    def display(cls):
        print(super().a, cls.b)
        print(cls.a, cls.b)

b = B(4)
b.display()

10 20
1000 20

In [30]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

class Student(Person):
    def __init__(self, roll, addr, **kwargs):
        super().__init__(**kwargs)
        self.roll = roll
        self.addr = addr

class Academic(Student):
    def __init__(self, subject, marks, **kwargs):
        super().__init__(**kwargs)
        self.subject = subject
        self.marks = marks

class Sports(Student):
    def __init__(self, sport_name, level, **kwargs):
        super().__init__(**kwargs)
        self.sport_name = sport_name
        self.level = level

class AlrounderStudent(Academic, Sports):
    def __init__(self, name, age, roll, addr, subject, marks, sport_name, level):
        super().__init__(
            name=name,
            age=age,
            roll=roll,
            addr=addr,
            subject=subject,
            marks=marks,
            sport_name=sport_name,
            level=level
        )

s1 = AlrounderStudent('Keny', 25, 123, 'Scotland', 'Math', 92, 'TT', 5)
print(s1.__dict__)

{'name': 'Keny', 'age': 25, 'roll': 123, 'addr': 'Scotland', 'sport_name': 'TT', 'level': 5, 'subject': 'Math', 'marks': 92}

In [35]:
ord('0')
chr(48+5)

'5'

In [38]:
int('5')- int('0')

5

In [39]:
d = {
    0 : 'a',
    1 : 'b'
}

d[2] = 'c'
d

{0: 'a', 1: 'b', 2: 'c'}

In [47]:
l = [-9, -11]

maxEnd = float('-inf')
res = l[0]

for i in l[1:]:
    maxEnd += i
    res = max(res, maxEnd)
    if maxEnd < 0:
        maxEnd = 0

res

-9

In [49]:
str(1)

'1'